img.profil{
    width : 150px; height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 90px;
    width: 200px;
    height: 200px;
  }
  table{
    border: none;
    
  }
  #divtab{
    position: relative;
    bottom:50%;
    
  }
  #divvue{
    position:absolute;
    bottom:50px;
    right:50px;
    width: 70px;
  }